<div>
  <h2 id="page-heading" data-cy="IdempotencyKeyHeading">
    <span jhiTranslate="conciergerieApp.idempotencyKey.home.title">IdempotencyKeys</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.idempotencyKey.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-idempotency-key"
        [routerLink]="['/idempotency-key/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.idempotencyKey.home.createLabel">Créer un nouveau Idempotency Key</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (idempotencyKeys().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.idempotencyKey.home.notFound">Aucun Idempotency Key trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.idempotencyKey.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.idempotencyKey.cle">Cle</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="typeOperation">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.idempotencyKey.typeOperation">Type Operation</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="resourceId">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.idempotencyKey.resourceId">Resource Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCreation">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.idempotencyKey.dateCreation">Date Creation</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateExpiration">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.idempotencyKey.dateExpiration">Date Expiration</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (idempotencyKey of idempotencyKeys(); track trackId(idempotencyKey)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/idempotency-key', idempotencyKey.id, 'view']">{{ idempotencyKey.id }}</a>
              </td>
              <td>{{ idempotencyKey.cle }}</td>
              <td>{{ idempotencyKey.typeOperation }}</td>
              <td>{{ idempotencyKey.resourceId }}</td>
              <td>{{ idempotencyKey.dateCreation | formatMediumDatetime }}</td>
              <td>{{ idempotencyKey.dateExpiration | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/idempotency-key', idempotencyKey.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/idempotency-key', idempotencyKey.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(idempotencyKey)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (idempotencyKeys().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
