<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-affectation-demande-heading"
        data-cy="AffectationDemandeCreateUpdateHeading"
        jhiTranslate="conciergerieApp.affectationDemande.home.createOrEditLabel"
      >
        Créer ou éditer un Affectation Demande
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="conciergerieApp.affectationDemande.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dateAffectationRef = editForm.get('dateAffectation')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateAffectation" jhiTranslate="conciergerieApp.affectationDemande.dateAffectation"
            >Date Affectation</label
          >
          <div class="d-flex">
            <input
              id="field_dateAffectation"
              data-cy="dateAffectation"
              type="datetime-local"
              class="form-control"
              name="dateAffectation"
              formControlName="dateAffectation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateAffectationRef.invalid && (dateAffectationRef.dirty || dateAffectationRef.touched)) {
            <div>
              @if (dateAffectationRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!dateAffectationRef.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_demande" jhiTranslate="conciergerieApp.affectationDemande.demande">Demande</label>
          <select
            class="form-select"
            id="field_demande"
            data-cy="demande"
            name="demande"
            formControlName="demande"
            [compareWith]="compareDemande"
          >
            @if (!editForm.get('demande')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (demandeOption of demandesSharedCollection(); track $index) {
              <option [ngValue]="demandeOption">{{ demandeOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['demande'])!.invalid && (editForm.get(['demande'])!.dirty || editForm.get(['demande'])!.touched)) {
          <div>
            @if (editForm.get(['demande'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_partenaire" jhiTranslate="conciergerieApp.affectationDemande.partenaire">Partenaire</label>
          <select
            class="form-select"
            id="field_partenaire"
            data-cy="partenaire"
            name="partenaire"
            formControlName="partenaire"
            [compareWith]="comparePartenaire"
          >
            @if (!editForm.get('partenaire')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (partenaireOption of partenairesSharedCollection(); track $index) {
              <option [ngValue]="partenaireOption">{{ partenaireOption.libelle }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['partenaire'])!.invalid && (editForm.get(['partenaire'])!.dirty || editForm.get(['partenaire'])!.touched)) {
          <div>
            @if (editForm.get(['partenaire'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
