<div>
  <h2 id="page-heading" data-cy="TypeDemandeHeading">
    <span jhiTranslate="conciergerieApp.typeDemande.home.title">TypeDemandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.typeDemande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-demande"
        [routerLink]="['/type-demande/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.typeDemande.home.createLabel">Créer un nouveau Type Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (typeDemandes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.typeDemande.home.notFound">Aucun Type Demande trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.typeDemande.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.typeDemande.code">Code</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.typeDemande.libelle">Libelle</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (typeDemande of typeDemandes(); track trackId(typeDemande)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/type-demande', typeDemande.id, 'view']">{{ typeDemande.id }}</a>
              </td>
              <td>{{ typeDemande.code }}</td>
              <td>{{ typeDemande.libelle }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/type-demande', typeDemande.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/type-demande', typeDemande.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(typeDemande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
