<div>
  <h2 id="page-heading" data-cy="HistoriqueStatutDemandeHeading">
    <span jhiTranslate="conciergerieApp.historiqueStatutDemande.home.title">HistoriqueStatutDemandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.historiqueStatutDemande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-historique-statut-demande"
        [routerLink]="['/historique-statut-demande/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.historiqueStatutDemande.home.createLabel">Créer un nouveau Historique Statut Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (historiqueStatutDemandes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.historiqueStatutDemande.home.notFound">Aucun Historique Statut Demande trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.historiqueStatutDemande.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateChangement">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.historiqueStatutDemande.dateChangement">Date Changement</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="demande.id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.historiqueStatutDemande.demande">Demande</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statut.libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.historiqueStatutDemande.statut">Statut</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (historiqueStatutDemande of historiqueStatutDemandes(); track trackId(historiqueStatutDemande)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/historique-statut-demande', historiqueStatutDemande.id, 'view']">{{ historiqueStatutDemande.id }}</a>
              </td>
              <td>{{ historiqueStatutDemande.dateChangement | formatMediumDatetime }}</td>
              <td>
                @if (historiqueStatutDemande.demande) {
                  <div>
                    <a [routerLink]="['/demande', historiqueStatutDemande.demande.id, 'view']">{{ historiqueStatutDemande.demande.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (historiqueStatutDemande.statut) {
                  <div>
                    <a [routerLink]="['/statut-demande', historiqueStatutDemande.statut.id, 'view']">{{
                      historiqueStatutDemande.statut.libelle
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/historique-statut-demande', historiqueStatutDemande.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/historique-statut-demande', historiqueStatutDemande.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button
                    type="button"
                    (click)="delete(historiqueStatutDemande)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (historiqueStatutDemandes().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
