<div>
  <h2 id="page-heading" data-cy="CouverturePartenaireHeading">
    <span jhiTranslate="conciergerieApp.couverturePartenaire.home.title">CouverturePartenaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.couverturePartenaire.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-couverture-partenaire"
        [routerLink]="['/couverture-partenaire/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.couverturePartenaire.home.createLabel">Créer un nouveau Couverture Partenaire</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (couverturePartenaires().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.couverturePartenaire.home.notFound">Aucun Couverture Partenaire trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.couverturePartenaire.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDebut">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.couverturePartenaire.dateDebut">Date Debut</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFin">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.couverturePartenaire.dateFin">Date Fin</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="partenaire.libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.couverturePartenaire.partenaire">Partenaire</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="service.libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.couverturePartenaire.service">Service</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (couverturePartenaire of couverturePartenaires(); track trackId(couverturePartenaire)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/couverture-partenaire', couverturePartenaire.id, 'view']">{{ couverturePartenaire.id }}</a>
              </td>
              <td>{{ couverturePartenaire.dateDebut | formatMediumDate }}</td>
              <td>{{ couverturePartenaire.dateFin | formatMediumDate }}</td>
              <td>
                @if (couverturePartenaire.partenaire) {
                  <div>
                    <a [routerLink]="['/partenaire', couverturePartenaire.partenaire.id, 'view']">{{
                      couverturePartenaire.partenaire.libelle
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (couverturePartenaire.service) {
                  <div>
                    <a [routerLink]="['/service-conciergerie', couverturePartenaire.service.id, 'view']">{{
                      couverturePartenaire.service.libelle
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/couverture-partenaire', couverturePartenaire.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/couverture-partenaire', couverturePartenaire.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(couverturePartenaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
