<div>
  <h2 id="page-heading" data-cy="ProfilHeading">
    <span jhiTranslate="conciergerieApp.profil.home.title">Profils</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.profil.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-profil"
        [routerLink]="['/profil/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.profil.home.createLabel">Créer un nouveau Profil</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (profils().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.profil.home.notFound">Aucun Profil trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.profil.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.profil.code">Code</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.profil.libelle">Libelle</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.profil.description">Description</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.profil.utilisateur">Utilisateur</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.profil.role">Role</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (profil of profils(); track trackId(profil)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/profil', profil.id, 'view']">{{ profil.id }}</a>
              </td>
              <td>{{ profil.code }}</td>
              <td>{{ profil.libelle }}</td>
              <td>{{ profil.description }}</td>
              <td>
                @for (utilisateur of profil.utilisateurs; track $index; let last = $last) {
                  <span>{{ utilisateur.login }}{{ last ? '' : ', ' }}</span>
                }
              </td>
              <td>
                @for (role of profil.roles; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/authority', role.name, 'view']">{{ role.name }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/profil', profil.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/profil', profil.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(profil)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
