<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profil(); as profilRef) {
      <div>
        <h2 data-cy="profilDetailsHeading"><span jhiTranslate="conciergerieApp.profil.detail.title">Profil</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="conciergerieApp.profil.id">Id</span></dt>
          <dd>
            <span>{{ profilRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="conciergerieApp.profil.code">Code</span></dt>
          <dd>
            <span>{{ profilRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="conciergerieApp.profil.libelle">Libelle</span></dt>
          <dd>
            <span>{{ profilRef.libelle }}</span>
          </dd>
          <dt><span jhiTranslate="conciergerieApp.profil.description">Description</span></dt>
          <dd>
            <span>{{ profilRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="conciergerieApp.profil.utilisateur">Utilisateur</span></dt>
          <dd>
            @for (utilisateur of profilRef.utilisateurs; track $index; let last = $last) {
              <span> {{ utilisateur.login }}{{ last ? '' : ', ' }} </span>
            }
          </dd>
          <dt><span jhiTranslate="conciergerieApp.profil.role">Role</span></dt>
          <dd>
            @for (role of profilRef.roles; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/authority', role.name, 'view']">{{ role?.name }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/profil', profilRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
