<div>
  <h2 id="page-heading" data-cy="MouvementStockHeading">
    <span jhiTranslate="conciergerieApp.mouvementStock.home.title">MouvementStocks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.mouvementStock.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mouvement-stock"
        [routerLink]="['/mouvement-stock/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.mouvementStock.home.createLabel">Créer un nouveau Mouvement Stock</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (mouvementStocks().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.mouvementStock.home.notFound">Aucun Mouvement Stock trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.mouvementStock.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.mouvementStock.type">Type</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="quantite">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.mouvementStock.quantite">Quantite</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateTransaction">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.mouvementStock.dateTransaction">Date Transaction</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="motif">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.mouvementStock.motif">Motif</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="compteStock.id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.mouvementStock.compteStock">Compte Stock</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mouvementStock of mouvementStocks(); track trackId(mouvementStock)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mouvement-stock', mouvementStock.id, 'view']">{{ mouvementStock.id }}</a>
              </td>
              <td [jhiTranslate]="'conciergerieApp.TypeMouvementStock.' + (mouvementStock.type ?? 'null')">
                {{ { null: '', CREDIT: 'CREDIT', DEBIT: 'DEBIT' }[mouvementStock.type ?? 'null'] }}
              </td>
              <td>{{ mouvementStock.quantite }}</td>
              <td>{{ mouvementStock.dateTransaction | formatMediumDatetime }}</td>
              <td>{{ mouvementStock.motif }}</td>
              <td>
                @if (mouvementStock.compteStock) {
                  <div>
                    <a [routerLink]="['/compte-stock', mouvementStock.compteStock.id, 'view']">{{ mouvementStock.compteStock.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/mouvement-stock', mouvementStock.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/mouvement-stock', mouvementStock.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(mouvementStock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (mouvementStocks().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
