<div>
  <h2 id="page-heading" data-cy="AffectationDemandeHeading">
    <span jhiTranslate="conciergerieApp.affectationDemande.home.title">AffectationDemandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.affectationDemande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-affectation-demande"
        [routerLink]="['/affectation-demande/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.affectationDemande.home.createLabel">Créer un nouveau Affectation Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (affectationDemandes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.affectationDemande.home.notFound">Aucun Affectation Demande trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.affectationDemande.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateAffectation">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.affectationDemande.dateAffectation">Date Affectation</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="demande.id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.affectationDemande.demande">Demande</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="partenaire.libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.affectationDemande.partenaire">Partenaire</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (affectationDemande of affectationDemandes(); track trackId(affectationDemande)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/affectation-demande', affectationDemande.id, 'view']">{{ affectationDemande.id }}</a>
              </td>
              <td>{{ affectationDemande.dateAffectation | formatMediumDatetime }}</td>
              <td>
                @if (affectationDemande.demande) {
                  <div>
                    <a [routerLink]="['/demande', affectationDemande.demande.id, 'view']">{{ affectationDemande.demande.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (affectationDemande.partenaire) {
                  <div>
                    <a [routerLink]="['/partenaire', affectationDemande.partenaire.id, 'view']">{{
                      affectationDemande.partenaire.libelle
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/affectation-demande', affectationDemande.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/affectation-demande', affectationDemande.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(affectationDemande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
