<div>
  <h2 id="page-heading" data-cy="UtilisationCodeQrHeading">
    <span jhiTranslate="conciergerieApp.utilisationCodeQr.home.title">UtilisationCodeQrs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="conciergerieApp.utilisationCodeQr.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-utilisation-code-qr"
        [routerLink]="['/utilisation-code-qr/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="conciergerieApp.utilisationCodeQr.home.createLabel">Créer un nouveau Utilisation Code Qr</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (utilisationCodeQrs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="conciergerieApp.utilisationCodeQr.home.notFound">Aucun Utilisation Code Qr trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.utilisationCodeQr.id">Id</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateUtilisation">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.utilisationCodeQr.dateUtilisation">Date Utilisation</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeQrService.code">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.utilisationCodeQr.codeQrService">Code Qr Service</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="partenaire.libelle">
              <div class="d-flex">
                <span jhiTranslate="conciergerieApp.utilisationCodeQr.partenaire">Partenaire</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (utilisationCodeQr of utilisationCodeQrs(); track trackId(utilisationCodeQr)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/utilisation-code-qr', utilisationCodeQr.id, 'view']">{{ utilisationCodeQr.id }}</a>
              </td>
              <td>{{ utilisationCodeQr.dateUtilisation | formatMediumDatetime }}</td>
              <td>
                @if (utilisationCodeQr.codeQrService) {
                  <div>
                    <a [routerLink]="['/code-qr-service', utilisationCodeQr.codeQrService.id, 'view']">{{
                      utilisationCodeQr.codeQrService.code
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (utilisationCodeQr.partenaire) {
                  <div>
                    <a [routerLink]="['/partenaire', utilisationCodeQr.partenaire.id, 'view']">{{
                      utilisationCodeQr.partenaire.libelle
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/utilisation-code-qr', utilisationCodeQr.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/utilisation-code-qr', utilisationCodeQr.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="button" (click)="delete(utilisationCodeQr)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (utilisationCodeQrs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
